@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MovieGo</h1>
    <p>Your one stop shop for all things movies, ranging from basic <a asp-controller="Movie" asp-action="Index">info</a>, to <a asp-controller="Movie" asp-action="MovieReview">reviews</a> on your favourite flics</p>
</div>
